.form-control {
    background-color: rgb(0 123 255 / 10%);
    border-color: rgb(0 123 255 / 50%);
}
.form-control::placeholder{
    color: #007bff80;
}
h2.text-center {
    color: #007bff;
    text-transform: uppercase;
    font-weight: 100;
    font-size: 3rem;
}
.container.mt-5.py-3 {
    box-shadow: #007bff17 0px 8px 16px;
    border-radius: 8px;
    border: 1px solid #007bff21;
}
.col-12.my-5.p-3.pt-0 {
    box-shadow: #007bff17 0px 8px 16px;
    border-radius: 8px;
    border: 1px solid #007bff21;
}
h4{
    color: #007bff;
}
a.navbar-brand {
    font-size: 1.5rem;
    color: #007bff !important;
}
nav.navbar.navbar-light.bg-light.fixed-top.p-3.mb-5.bg-white {
    box-shadow: #007bff17 0px 8px 16px;
    border: 1px solid #007bff21;
}
form#edit {
    box-shadow: #007bff17 0px 8px 16px;
    border-radius: 8px;
    border: 1px solid #007bff21;
}
h2 {
    color: #007bff;
}
.table-hover tbody tr:hover {
    color: #007bff;
    background-color: rgb(17 194 234 / 8%);
}